*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

body {
  position: relative;
  font-family: "Source Sans 3", sans-serif;
  background-color: #1e293b;
  color: #cbd5e1;
}

button {
  padding: 1em;
  color: #fff;
  border-radius: 45px;
}

.primaryBtn {
  font-weight: bold;
  border: none;
  background: linear-gradient(86deg, rgb(68, 129, 235) 0%, rgb(5, 190, 254) 100%);
}

.secondaryBtn {
  background: none;
  border: 1px solid #598ef3;
}

.NavDesktop {
  display: none;
}

.navOpenBtn {
  position: absolute;
  right: 10%;
  top: 20px;
  width: 40px;
}

.showNavMobile {
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}

.navPhone {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1e293b;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.navPhone .closeBtn {
  position: absolute;
  right: 10%;
  top: 7%;
  width: 40px;
}
.navPhone .nav-links {
  margin-top: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navPhone .nav-links a {
  margin: 0.5em 0;
  font-size: 2rem;
  color: #cbd5e1;
  text-decoration: none;
}
.navPhone .nav-links .button {
  margin-top: 2em;
  font-size: 1.2rem;
}

.phoneLogo {
  text-align: center;
  margin: 2em;
}

.container {
  padding: 0 2em;
}

header .header-left h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
  line-height: 1.2em;
}
header .header-left p {
  font-size: 1.2rem;
  margin-bottom: 3em;
}
header .header-left--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-left--buttons .primaryBtn {
  font-size: 1.1rem;
}
header .header-left--buttons .secondaryBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  font-size: 1rem;
  white-space: nowrap;
}
header .header-left--buttons .secondaryBtn img {
  margin-left: 1em;
}
header .header-right {
  width: 100%;
}
header .header-right img {
  width: 100%;
}

.separator .container {
  padding: 1em 0;
  background-color: #cbd5e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.separator .container .separator-logos img {
  width: 100px;
  margin: 1em 1em;
}
.separator .container .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionTitle {
  margin: 0.5em 0;
  font-size: 2.5rem;
}

.aboutUsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  font-size: 1.2rem;
  text-align: justify;
}
.aboutUsBox img {
  margin-top: 1em;
  width: 200px;
}

.servicesBox {
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1.5em;
}
.servicesBox p {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

#contact {
  background-color: #cbd5e1;
  color: #334155;
  padding-top: 1em;
}
#contact .contact-left {
  border-bottom: 1px solid #959da7;
}
#contact .contact-left--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}
#contact .contact-left--info p {
  margin-left: 2em;
  font-size: 1.2rem;
}
#contact .contact-right {
  margin-top: 2.5em;
}
#contact .contact-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}
#contact .contact-right form .inputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}
#contact .contact-right form .inputField input {
  background: none;
  border: 1px solid #598ef3;
  border-radius: 10px;
}
#contact .contact-right form .inputField label {
  font-size: 1.2rem;
}
#contact .contact-right form button {
  margin: 1em 0 3em 0;
}

footer {
  padding-top: 2em;
  background-color: #353f4e;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container img {
  width: 100px;
}
footer .container .nav-links {
  margin: 1em 0;
}
footer .container .nav-links a {
  padding: 0.7em;
  text-decoration: none;
  color: #b5c4d6;
}
footer p {
  padding: 1em;
  text-align: center;
  background-color: #1e293b;
  font-size: 0.7rem;
}/*# sourceMappingURL=style.css.map */